*{
    box-sizing: border-box;
}

.left{
background-color: rgb(66, 90, 43);
width: 200px;
margin-right:auto;
background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/52/Harry_S_Truman%2C_bw_half-length_photo_portrait%2C_facing_front%2C_1945-crop.jpg);
    background-position: left;
    background-size: 200px, auto;
    background-repeat: no-repeat;
    padding: 10px 20px 10px 210px;
    border-radius: 0px 40px 40px 0px;
}

.right{
background-color: blueviolet;
width: 200px;
margin-left: auto;
background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/42/President_Roosevelt_-_Pach_Bros.tif/lossy-page1-800px-President_Roosevelt_-_Pach_Bros.tif.jpg);
    background-position: right;
    background-size: 200px, auto;
    background-repeat: no-repeat;
    padding: 10px 210px 20px 20px;
    border-radius: 40px 0px 0px 40px;
    }

.blurb{
width: 90%;
box-shadow: 10px 20px 100px black;
font-family: 'Bellefair', serif;
border-style: solid;
border-width: 1px;
min-height: 202px;
min-width: 400px;
background-size: 200px;
margin-bottom: 20px;
}

body{
    margin: 0px;
}

h1{
background-image: linear-gradient(to left, #b916b9, #1818ce);
padding: 20px 50px;
box-shadow: inset 10px -10px 15px rgb(252, 252, 252);
text-align: center;
margin-top: 0px;
margin-left: auto;
margin-right: auto;
}

.wordone{
   color: #b916b9 ;
}
.wordtwo{
    color: #06068d;
}
